!!! 5

%html
  %head
    %title King County main calendar: Socrata OAuth input

  %body
    .wrapper
      %h1 King County main calendar input
      %h2 Something has gone wrong:

      %p= @error

      %p
        %a{ :href => '/' } return to home
